
.bg-color01 { background-color: #bde0fe; }
.bg-color02 { background-color: #ffafcc; }
.bg-color03 { background-color: #2a9d8f; }
.bg-color04 { background-color: #e76f51; }
.bg-color05 { background-color: #264653; }
.bg-color06 { background-color: #fbbf84; }
.bg-color07 { background-color: #3a6fb6; }
.bg-color08 { background-color: #7cdf64; }
.bg-color09 { background-color: #f93983; }
.bg-color10 { background-color: #9812c1; }
.bg-color11 { background-color: #fdfdfd; }
.bg-color12 { background-color: #2c2e32; }



.border01 { border: solid 1px #ff0000; }
.border02 { border: solid 1px #0000ff; }
.border03 { border: solid 1px #008000; }
.border04 { border: solid 1px #ff4500; }
.border05 { border: solid 1px #dee2e6; } 



.bg-body {
  background-image: url('../images/bg-body.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment:scroll;
}














.svg-display {
  /* width: 300px; */
  /* padding: 10px; */
  /* border-radius: 0.375rem; */
  /* border: solid 1px #dee2e6; */
  /* background-color: #fcfcfc; */
}


.svg-circuit {
  /* width: 466px; */
}





.surface {
  transition: fill 0.5s ease, opacity .5s ease, filter 0.5s ease;
  /* opacity: 0; */
}







.segment {
  cursor: pointer;
  opacity: 0;
  transition: fill 0.5s ease, opacity .5s ease, filter 0.2s ease;
}

.segment.glowing {
  filter: brightness(1.5);
  box-shadow: 0 0 15px 70px rgba(255, 0, 0, 1);
  filter: drop-shadow(0px 0px 20px rgb(255, 0, 0, 0.4));
}


.led {
  cursor: pointer;
  /* fill: #2c2e32; */
   transition: fill .4s ease, opacity .8s ease, filter 0.5s ease;
}

.led.glowing {
  /* filter: brightness(1.5); */
  /* box-shadow: 0 0 15px 70px rgba(255, 0, 0, 1); */
  filter: drop-shadow(0px 0px 10px rgb(255, 0, 0, 1));
}




.led-light {
  /* fill: red; */
  /* opacity: 0; */
  transition: fill .8s ease, opacity .8s ease, filter 0.5s ease;
  
}

.led-light.glowing {
  filter: brightness(1.5);
  box-shadow: 0 0 15px 70px rgba(255, 0, 0, 1);
  filter: drop-shadow(5px 5px 10px rgb(255, 0, 0, 1));
}





.net {
  fill: #2c2e32;
}

.net.net-common {
  fill: #2c2e32;;
}



.led-label {
  font-family:'Calibri';
  font-size:1.5rem;
  transition: fill .5s ease, opacity .8s ease, filter 0.5s ease;
}



.led-common {
  font-family:'Calibri';
  font-size:1.5rem;
  transition: fill .5s ease, opacity .8s ease, filter 0.5s ease;
}

.led-common.small {
  font-size:1rem;
  fill: #5c5c5c;
}











.binary-wrapper {
  flex: 1 1 12%;
  min-width: 45px;
  max-width: 45px;
}

.binary-input {
  color: #335eea;
  font-size: 1.26rem;
  font-weight: 600;
  
}

.binary-input:focus {
  caret-color: transparent !important;
  outline: none !important;
  user-select: none;
}







.form-label-custom {
  font-size: 1rem;
  margin-left: 3px;
  padding: 0.08rem 0.2rem 0.1rem 0.2rem;
  border-radius: 0.2rem;
  line-height: 100%;
  color: #212529;
}

.hex-input {
  color: #335eea;
  font-size: 1.26rem;
  font-weight: 600;
}

.hex-input:focus {
  caret-color: transparent !important;
  outline: none !important;
  user-select: none;
}


.btn-custom {
  color: #335eea;
}

.btn-custom:hover {
  color: #ffffff;
  background-color: #335eea;

}

.btn-custom:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


@media (max-width: 992px) {

  .binary-wrapper {
    flex: 1 1 12%;
    min-width: 35px;
    max-width: 35px;
  }

  .binary-input {
    font-size: 1rem;
  }

}


@media (max-width: 768px) {
  .d-flex {
    flex-wrap: wrap;
    justify-content: center;
  }

  .form-label-custom {
    font-size: 0.8rem;
    margin-left: 3px;
    padding: 0.08rem 0.2rem 0.17rem 0.2rem;
    border-radius: 0.19rem;
  }
}


@media (max-width: 480px) {

  .binary-wrapper{
    min-width: 35px;
    max-width: 35px;
  }

  .binary-input {
    font-size: 1rem;
  }

  .form-label-custom {
    font-size: 0.8rem;
    margin-left: 3px;
    padding: 0.08rem 0.2rem 0.17rem 0.2rem;
    border-radius: 0.19rem;
  }
}









@media (max-width: 767px) {

  /* Hide the third column from its normal position */
  #sidebar {
    position: fixed;
    /* top: 0; */
    right: -100%; /* Move it out of the screen */
    width: 100%;
    height: 100%;
    max-width: 400px;
    /* padding: 20px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
    z-index: 1050;
    transition: right 0.3s ease;
    background-color: rgb(255, 255, 255, 0.8);
  }

  /* Active class to slide it in */
  #sidebar.active {
    right: 0;
  }

  #toggle-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1050;
  }

  /* Close button */
  .close-btn {
    /* padding: 5px 10px; */
    margin-bottom: 10px;
  }

}









.list-group {
  width: 100%;
  /* max-width: 460px; */
  /* margin-inline: 1.5rem; */
}

.form-check-input:checked + .form-checked-content {
  opacity: 0.5;
}

.form-check-input-placeholder {
  border-style: dashed;
}

[contenteditable]:focus {
  outline: 0;
}

.list-group-checkable .list-group-item {
  cursor: pointer;
}

.list-group-item-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.list-group-item-check:hover + .list-group-item {
  background-color: var(--bs-secondary-bg);
}

.list-group-item-check:checked + .list-group-item {
  color: #fff;
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.list-group-item-check[disabled] + .list-group-item,
.list-group-item-check:disabled + .list-group-item {
  pointer-events: none;
  filter: none;
  opacity: 0.5;
}

.list-group-radio .list-group-item {
  cursor: pointer;
  border-radius: 0.5rem;
}

.list-group-radio .form-check-input {
  z-index: 2;
  margin-top: -0.5em;
  left: 0; /* Add for right */
  right: auto; /* Add for right */
}

.list-group-radio .list-group-item:hover,
.list-group-radio .list-group-item:focus {
  background-color: var(--bs-secondary-bg);
}

.list-group-radio .form-check-input:checked + .list-group-item {
  background-color: var(--bs-body);
  border-color: var(--bs-primary);
  box-shadow: 0 0 0 2px var(--bs-primary);
}

.list-group-radio .form-check-input[disabled] + .list-group-item,
.list-group-radio .form-check-input:disabled + .list-group-item {
  pointer-events: none;
  filter: none;
  opacity: 0.5;
}







/* Alphanumeric Characters (Preset Alphanumeric) */

:root {
  --button-size: calc(25% - 18px);
}

.button {
  display: flex;
  width: var(--button-size);
  height: var(--button-size);
  align-items: center;
  justify-content: center;
  text-decoration: none;

  -webkit-border-radius: 10px;
  -webkit-box-shadow:
      0px 3px rgba(128,128,128,1), /* gradient effects */
      0px 4px rgba(118,118,118,1),
      0px 5px rgba(108,108,108,1),
      0px 6px rgba(98,98,98,1),
      0px 7px rgba(88,88,88,1),
      0px 8px rgba(78,78,78,1),
      0px 14px 6px -1px rgba(128,128,128,1); /* shadow */
  -webkit-transition: -webkit-box-shadow .1s ease-in-out;
}

.button span {
  display: inline-block;
  padding: 3px 0px 3px 0px;
  width: 100%;
  height: 100%;
  /* font-family: 'TradeGothicLTStd-BdCn20' */
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  text-shadow: 0px 1px #fff, 0px -1px #262F33;
  color: #3A474D;
  background-color: #E8E8E8;
  background-image:
    /* gloss gradient */
    -webkit-gradient(linear,
      left bottom,
      left top,
      color-stop(50%, rgba(255, 255, 255, 0)),
      color-stop(50%, rgba(255, 255, 255, 0.3)),
      color-stop(100%, rgba(255, 255, 255, 0.2))),

    /* dark outside gradient */
    -webkit-gradient(linear,
      left top,
      right top,
      color-stop(0%, rgba(210, 210, 210, 0.3)),
      color-stop(20%, rgba(210, 210, 210, 0)),
      color-stop(80%, rgba(210, 210, 210, 0)),
      color-stop(100%, rgba(210, 210, 210, 0.3))),

    /* light inner gradient */
    -webkit-gradient(linear,
      left top,
      right top,
      color-stop(0%, rgba(255, 255, 255, 0)),
      color-stop(20%, rgba(255, 255, 255, 0.5)),
      color-stop(80%, rgba(255, 255, 255, 0.5)),
      color-stop(100%, rgba(255, 255, 255, 0))),

    /* diagonal line pattern */
    -webkit-gradient(linear,
      0% 100%,
      100% 0%,
      color-stop(0%, rgba(255, 255, 255, 0)),
      color-stop(40%, rgba(255, 255, 255, 0)),
      color-stop(40%, #D2D2D1),
      color-stop(60%, #D2D2D1),
      color-stop(60%, rgba(255, 255, 255, 0)),
      color-stop(100%, rgba(255, 255, 255, 0)));

  -webkit-box-shadow:
    0px -1px #fff,
    /* top highlight */
    0px 1px 1px #FFFFFF;
  /* bottom edge */

  -webkit-background-size: 100%, 100%, 100%, 4px 4px;
  -webkit-border-radius: 10px;
  -webkit-transition: -webkit-transform .1s ease-in-out;
}

.button span:hover {
  color: #0d6efd;
  text-shadow: 0px -1px #0d3afd;
  cursor: pointer;
}

.button:active {
  -webkit-box-shadow:
    0px 3px rgba(128, 128, 128, 1),
    0px 4px rgba(118, 118, 118, 1),
    0px 5px rgba(108, 108, 108, 1),
    0px 6px rgba(98, 98, 98, 1),
    0px 7px rgba(88, 88, 88, 1),
    0px 8px rgba(78, 78, 78, 1),
    0px 10px 2px 0px rgba(128, 128, 128, .6); /* shadow */
}

.button:active span {
  -webkit-transform: translate(0, 5px); /* depth of button press */
}

.bg-gradient {
  background-image:
    -webkit-gradient(
    radial,
    50% -50,
    300,
    50% 0,
    0,
    from(rgba(230, 237, 241, 0.8)),
    to(rgba(44, 157, 223, 0)));
}



button svg {
  pointer-events: none;
}

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}